#menuContainer ul { margin: 0; font-size: 153.9%; line-height: 1.3em; }
#menuContainer ul li { float: left; margin-right: 25px; width: 65px;}
#menuContainer ul li a {  background: #444444; margin: 5px 10px; border-left: 5px solid #444; font-weight: bold; }
#menuContainer ul li a:link, #menuContainer ul li a:visited, #menuContainer ul li a:active { color: #FFFFFF; }
#menuContainer ul li a:hover { background: #444444; border-left: 5px solid #fd4398; text-decoration: none; text-transform: lowercase; font-family: Georgia, Palatino, Times, Serif; font-style: italic; padding-left: 5px; }
#menuContainer ul li a.highlight:link, #menuContainer ul li a.highlight:visited {color: #fd4398;}
/* sub menus */
#menuContainer ul li ul { display: none; position: absolute; padding: 0 0 10px 10px; font-size: 100%;  }
#menuContainer ul li:hover ul { display: block; }
#menuContainer ul li ul li { float: none; }
#menuContainer ul li ul li a { border: none; }

/* sub sub menus */
#menuContainer ul li ul li ul { display: none !important; position: absolute; top: 0; left: 100%; width: 200%;}
#menuContainer ul li ul li:hover ul { display: block !important; }

#searchform { margin-left: 30px; font-size: 75%;  }
.screen-reader-text { display: none; }
