#home-banner-social {
	background: url(../images/bg_social_banner.gif) no-repeat top left transparent; 
	float: left;
	height: 55px;
	margin: 10px 0 10px -10px;
	padding: 5px 10px 10px 120px;
	width:585px;
}
#home-banner-social a, #sidebar #socialBanner a{
	color: #FEE;
	text-decoration: none;
}
#sidebar #socialBanner {
	background: url(../images/bg_social_banner_small.gif) no-repeat top left transparent; 
	float: none;
	height: auto;
	margin: 5px 0 0 -10px;
	padding: 5px 5px 5px 5px;
	width: 218px;
}
#upcoming-theatre {
	background: url(../images/theatrebg.png) no-repeat top left;
}
#upcoming-music {
	background: url(../images/musicbg.png) repeat-x top left;
}
#upcoming-community-and-social {
	background: url(../images/socialbg.png) repeat-x top left;
}
#upcoming-theatre .post, #upcoming-music .post, #upcoming-social .post {
	margin: 5px 0;
} 
#home-banner-social h3 {
	font-style: italic;
}
#donation-banner {
	/* background: url(../images/donationbanner.gif) no-repeat top right; */
	width: 587px;
	height:55px;
	padding: 5px 10px 10px 120px;
	margin: 5px 0 0 -10px;
}
#donation-banner a{
	color: #8b93a0;
	text-decoration: none;
	
}
#news-box, #dont-miss-box {
	padding: 10px 20px;
	width: 285px;
	overflow: hidden;
	margin: 20px 5px 0 5px;
}
#news-box {
	background: #4d4d4d url(../images/bg_news.gif) no-repeat top left;
}
#dont-miss-box {
	background: #4d4d4d url(../images/bg_dontmiss.gif) no-repeat top left;
}
.date-range {
	color: #BBB;
}
.littlepart .event-list li {
	margin: 5px;
}
#page_image {
	padding: 10px 0;
	
}
#spotlight p {
	text-align: justify;
	margin-right: 5px;
}
#spotlight img {
	
	padding-left: 5px;
}
#spotlight h4 {
	margin-bottom: 5px;
}
#dont-miss-box img {margin: 5px;}
#category-spotlight { background: #333; padding: 10px; margin-bottom: 5px;}
.attachment img {margin-left: 75px;}
form { margin-left: 50px;}