body { margin: 5px 10px 10px 10px;}

h1 {font-size: 3em; font-weight: bold; letter-spacing: -0.05em; margin: 0;}
h2 { font-size: 3em; font-weight: bold; }
h4 { font-size: 1.5em; font-weight: bolder; margin: 0;}
h4.date-range { margin: 0 0 1em 0; }
h5 { font-size: 1.1em; font-weight: normal; margin: 0; }

a:link { color: #fd4398; text-decoration: none; }
a:visited { border-bottom: none; color: #e575a8; text-decoration: none; }
a:hover { border-bottom: none; color: #ffffff; text-decoration: underline; }
a:active { border-bottom: none; color: #e575a8; text-decoration: underline; }
.narrowcolumn {width:695px;background: #b94439 url(../images/bg_left_arm_top_social.gif) no-repeat scroll left top;}
#page {width:950px;margin:0 auto; color: #ffffff;}
#header {position: relative;}
#column-container { background: #b94439 url(../images/bg_rightArm.gif) no-repeat bottom right; }
#content {}
#sidebar {width:208px; margin: 0 0 0 7px; padding: 10px;}
#footer {width:940px;margin:0 10px; background: url(../images/bg_footer.png) no-repeat; display: table-cell; height: 72px; margin-top: 15px; text-align: center; vertical-align: middle; width: 950px; }

#header h1 {margin:0; background: url(../images/social_logo.png) no-repeat;}
#header-inner { background: url(../images/corners_head.png) no-repeat; width: 950px; height: 120px; }
