body { background: #dcb;}

h1 {font-size: 2.5em; font-weight: bold; letter-spacing: -0.05em; margin: 0;}
h2 { font-size: 2em; font-weight: bold; }
h4 { font-size: 1.5em; font-weight: bolder; margin: 0;}
h4.date-range { margin: 0 0 1em 0; }
h5 { font-size: 1.1em; font-weight: normal; margin: 0; }
h5.te-allmonth {font-weight: bold;}

a:link { color: #fd4398; text-decoration: none; }
a:visited { border-bottom: none; color: #e575a8; text-decoration: none; }
a:hover { border-bottom: none; color: #ffffff; text-decoration: underline; }
a:active { border-bottom: none; color: #e575a8; text-decoration: underline; }

#page {width:950px;margin: 0 auto; color: #ffffff; background: #444444 url(../images/bg_left_page.gif) repeat-y; padding: 5px;}
#header {position: relative;}
#column-container { background: url(../images/bg_rightArm.gif) no-repeat bottom right; }
#content {}
#sidebar {width:208px; margin: 0 0 0 7px; padding: 10px;}
#footer {width:950px;margin-top:10px; background: url(../images/bg_footer.png) no-repeat; padding-top: 20px; height: 52px; text-align: center; vertical-align: middle; }

.bigpart {width:400px; margin: 5px;}
.littlepart {width:250px; margin: 5px; background: #222; }
.narrowcolumn {width:695px;background: #000000 url(../images/bg_left_arm_top.gif) no-repeat scroll left top; padding: 10px; overflow: hidden; }
.widecolumn {width:940px;margin:0 10px;}
.subcolumn { width: 195px;	margin: 13px; padding: 5px;}
.courier { font-family: "Courier New", Courier, monospace; }
.inactive { color: #666666; }

#header h1 {margin:0; background: url(../images/logo.png) no-repeat; width: 206px; height: 0; padding-top: 110px; overflow: hidden; position: relative; top: 10px; left: 10px;  }
#header-inner { background: url(../images/corners_head.png) no-repeat; width: 950px; height: 120px; }
#header .description { position: absolute; left: 30px; top: 0; }

.post { overflow: hidden; }

#footer a { margin: 0 12px; }
.subcolumn a:link { color: #000; }
.subcolumn a:visited { color: #111; }
.subcolumn a:hover { color: #333; }
