html { background: #dcb;}

#page, #footer, #header-inner {width: 750px;}

#page {margin-top:20px;}

#header-inner { background: #000000 url(../images/tenfest.jpg) top left no-repeat; height: 185px; }

#header h1 {background: url(../images/tenfesttext.png) no-repeat; width: 460px; left: 140px; top: 25px;}

#menuContainer {position: absolute; bottom: 0; right:0;}

#menuContainer ul {font-size: 131%;}

#menuContainer ul li {width: auto; padding-right: 5px; margin-right: 10px;}

#menuContainer ul li a { font-family:arial,helvetica,clean,sans-serif; padding:1px 5px; margin-right: 5px;}

#menuContainer ul li a:hover {font-family:arial,helvetica,clean,sans-serif; font-style: normal; border-top: 5px solid #fd4398;}

#column-container { background: transparent; margin-top: 10px;}

#footer {margin-top: 10px;}

.narrowcolumn { width: 740px; background: #000000 url(../images/bg_left_arm_top.gif) top right no-repeat;}