/*
Theme Name: Bedlam Theatre
Theme URI: bedlamtheatre.org
Description: Theme for BedlamTheatre.org
Version: 1.0
Author: Ben Egerman & Joe Song
Author URI: http://bedlamtheatre.org/

*/

/* RESET */
html {background-color:#FFFFFF;color:#000000;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
ol,ul {list-style:none;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}

body {background-color:#FFFFFF;color:#666666;}

/* FONTS */
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
th {font-style:normal;font-weight:normal;text-align:left;}
code {font-family:monospace;*font-size:108%;line-height:100%;}
input, textarea, select, option {font-family:arial,helvetica,clean,sans-serif;font-size:inherit;font-weight:inherit;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}

em {font-style:italic;font-weight:normal;}
strong {font-style:normal;font-weight:bold;}

blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* FLOATS */
.left {float:left;}
.right {float:right;}
.clearabove {line-height:0;height:0;font-size:0;clear:both;} /* Use on a clearing element following a float */
.clearfloats {overflow:hidden;zoom:1;word-wrap:break-word;} /*Use on a container to clear enclosed floats */

/* HIDE */
.none {display:none;}
.hidden {visibility:hidden;}

/* CENTER Cafp://marcoONTAINER */
body.center #container, body.center #page {margin:0 auto;}

/* LINKS */
a {color:#0066CC;text-decoration:none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color: #CC3300;text-decoration:none;}
a:active {text-decoration:none;}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
h1 {font-size:197%;margin:0 0 .75em 0;}
h2 {font-size:167%;margin:0 0 .125em 0;}
h3 {font-size:153.9%;margin:0 0 .125em 0;}
h4 {font-size:138.5%;margin: 0 0 .125em 0;}
h5 {font-size:123.1%;margin:0 0 .125em 0;}
h6 {font-size:108%;margin:0 0 .125em 0;}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#ffffff;}

/* TEXT */
p, ol, ul {margin:0 0 1em 0;}

/* DEFAULT LIST STYLES *//* add class="default_list" to ol, ul */
ol.default_list, ul.default_list {margin-left:3em;}
ol.default_list li {list-style:decimal outside;margin:0 0 .5em 0;}
ul.default_list li {list-style:disc outside;margin:0 0 .5em 0;}

/* FORMS *//* Needs Work/Testing */
fieldset {border:1px solid #cccccc;}
legend {color:#333333;font-weight:bold;margin:0 5px;}
textarea, input {color:#333333;}
form ol {}
form li {display:block;width:100%;margin:0 0 4px 0;padding:0;}
form .text_label {display:block;width:100px;margin:0 2px 0 0;}
form input.text_input, form select, form textarea {border:1px solid #CCCCCC;}
form input.text_input {width:185px;padding:2px;}
form textarea {width:285px;height:90px;padding:2px;}
form input.radio_input,form input.checkbox_input  {margin:0 3px;}

/* YUI FONT SIZING CHART: 10px=77% 11px=85% 12px=93% 13px=100% 14px=108% 15px=116% 16px=123.1% 17px=131% 18px=138.5% 19px=146.5% 20px=153.9% 21px=161.6% 22px=167% 23px=174% 24px=182% 25px=189% 26px=197% */

/* --------------------------------- */



